@charset "UTF-8";

@import url('./reset.css');
@import url('./style.css');

body{position: relative;}
body.no-scroll{overflow: hidden;}
#container{overflow-anchor: none;}
.inner{max-width:1140px;margin:0 auto;}
.mo_only{display: none;}
/* common 미디어쿼리 */
@media screen and (max-width:1240px){
    .inner{padding: 0 16px;}
}
@media screen and (max-width:769px) {
    .mo_only{display: block;}
}

/* header */
#header{background-color: #fff;border-bottom: 1px solid var(--eee);}
#header .hd_inner{max-width: 1140px;margin: 0 auto;display:flex;align-items: center;justify-content: space-between;}

#header .hd_left{display: flex;align-items: center;gap: 140px;}

/* #header #ham_btn{display:none;width: 24px;height: 24px;cursor: pointer;}
#header #ham_btn .line_box{width:100%;height:100%;position: relative;background-image: url('../img/icon/ham_menu.svg');background-size:cover;background-position: center;} */

#header .logo{line-height: 0;}
#header .logo > a{display:inline-block;width: 125px;line-height: 0;}
#header .logo > a > img{width: 100%;}

#header .menu{display: flex;align-items: center;gap: 10px;}
#header .menu > div{padding-left: 10px;font-size:16px;font-weight:400;line-height:1;color:#000;position: relative;}
#header .menu > div::before{content: '';display: block;width: 1px;height:100%;position: absolute;left: 0;top: 0;background-color: var(--d9);}
#header .menu > div.subject::before{width: 2px;background-color: var(--a0);}


/* 비로그인 버전 */
#header .util{display: flex;align-items: center;gap: 20px;}
#header .util .btn_search{display: block;line-height:0;cursor: pointer;}
#header .util .btn_login{padding: 7px 18px;font-size: 14px;font-weight: 400;line-height: 17px;color: var(--purple);background-color: #fff;border: 1px solid var(--purple);border-radius:4px;}
#header .util .member_zone{display: none;}


/* login 버전*/
#header .util.is_login{display: block;}
#header .util.is_login .btn_search{display:none;}
#header .util.is_login .btn_login{display:none;}

#header .util.is_login .profile{padding: 18px 0 17px;display:flex;align-items: center;cursor: pointer;}
#header .util.is_login .user_infor{display: flex;align-items: center;gap:10px;}
#header .util.is_login .user_name{display:block;font-size:12px;font-weight:400;line-height:24px;color: var(--666);}
#header .util.is_login .user_name .name_sta{font-weight:700;}
#header .util.is_login .user_thumb{display:block;width: 24px;height:24px;border-radius:50%;overflow: hidden;}
#header .util.is_login .user_thumb img{width: 100%;}

#header .util.is_login .member_zone{display:block;position: relative;}
#header .util.is_login .user_menu{display: none;min-width:100%;padding:12px 20px;position: absolute;right: 0;top:100%;z-index: 95;background-color: #fff;border: 1px solid var(--eee);}/*230713 수정*/
#header .util.is_login .member_zone.open .user_menu{display: block;}
#header .util.is_login .user_menu > li{padding:8px 0}
#header .util.is_login .user_menu > li:first-child{margin-top: 0;}
#header .util.is_login .user_menu > li > a{font-size:14px;font-weight:400;line-height:17px;color: var(--444);transition: color .5s cubic-bezier(0.16, 1, 0.3, 1);}
#header .util.is_login .user_menu > li:hover > a{font-weight:500;color:#000;letter-spacing: -0.25px;}

/* 모바일 메뉴 */
#nav{left: 0;top: 0;right:0;bottom: 0;z-index:100;background-color:transparent;}
#nav.open{display:block;position:fixed;left: 0;top: 0;right:0;bottom: 0;-webkit-animation: nav_bg .3s ease-in-out forwards;animation: nav_bg .3s ease-in-out forwards;pointer-events: all;}
#nav.close{display:block;position:fixed;-webkit-animation: nav_bg_off .3s ease-in-out forwards;animation: nav_bg_off .3s ease-in-out forwards;pointer-events: none;}

#nav .nav_inner{display:block;position:fixed;left:0;top:0;bottom:0;z-index:101;width: 320px;max-width:89%;padding:12px 16px;background-color: #fff;overflow-y:auto;transform:translateX(-100%);transition: transform .3s ease-in-out;}
#nav.open .nav_inner{transform: translateX(0);}

#header #nav .logo{font-size: 24px;line-height: 33px;}
#nav .nav_hd{display: flex;align-items: center;justify-content:space-between;}
#nav #nav_close{width:24px;height:24px;cursor: pointer;}
#nav .nav_bd{margin-top: 20px;}
#nav .inp_box .inp{width: 100%;}

#nav .menu_list{}
#nav .menu_list > li{}


#nav .acc_box{margin-top:20px;}
#nav .acc_box .acc_tit .tit{color: var(--444);}
#nav .acc_box.open .acc_tit .tit{color: var(--purple);}
#nav .acc_box.open .acc_cont{}
#nav .acc_cont > ul{padding-left:8px;border-left:1px solid var(--eee);}
#nav .acc_cont > ul > li{margin-top: 2px;background-color:#fff;overflow:hidden;border-radius:4px;transition:background-color .3s ease;}
#nav .acc_cont > ul > li:hover{background-color: var(--f9);}


/* header 미디어쿼리 */
@media screen and (max-width:1155px){
    #header .hd_inner{padding: 0 16px;}
    #header .hd_inner{position: relative;}
    #header .hd_left{gap: 100px;}

    #header .util .btn_login{display: none;}
    #header #ham_btn{display: block;position: absolute;left: 16px;}


    #header .util.is_login .menu_box{top: var(--hdHeight);left:0;right:0;bottom:0;z-index: 100;background-color:transparent;}
    #header .util.is_login .member_zone.open .menu_box{position: fixed;-webkit-animation: nav_bg .3s ease-in-out forwards;animation: nav_bg .3s ease-in-out forwards;pointer-events: all;}
    #header .util.is_login .member_zone.close .menu_box{position:fixed;-webkit-animation: nav_bg_off .3s ease-in-out forwards;animation: nav_bg_off .3s ease-in-out forwards;pointer-events: none;}

    #header .util.is_login .user_menu{position: fixed;width:100%;top: var(--hdHeight);left:0;right:0;z-index: 101;border: 0;}
    #header .util.is_login .user_menu > li{background-color: #fff;}
}
@media screen and (max-width:769px) {
}

@keyframes nav_bg {
    0% {
        background-color: transparent;
    }
    100%{
        background-color: rgba(0, 0, 0, .2);
    }
}
@keyframes nav_bg_off {
    0% {
        background-color: rgba(0, 0, 0, .2);
    }
    100%{
        background-color: transparent;
    }
}

/* footer */
#footer{background-color: var(--white);border-top: 1px solid var(--eee);}
#footer .ft_inner{max-width:1140px;margin:0 auto;padding:50px 0;display:flex;align-items: center;justify-content: space-between;}
#footer .left{display: flex;align-items: center;gap: 20px;}


#footer .logo{line-height: 0;}
#footer .logo > a{display:inline-block;width: 125px;line-height: 0;}
#footer .logo > a > img{width: 100%;}

#footer .copyright{font-size: 16px;font-weight:400;line-height:19px;color: #000;word-break: break-word;}
#footer .terms_box{}
#footer .terms_box > ul{display:flex;align-items: center;gap: 40px;}
#footer .terms_box > ul > li > a{display:block;font-size: 16px;font-weight:400;line-height:19px;color: #000;}

#footer.type_gray{background-color: var(--f9);border-color:var(--f9)}
#footer.type_gray .logo{color: var(--888);}
#footer.type_gray .copyright{color: var(--888);}
#footer.type_gray .terms_box > ul > li > a{color: var(--444);}

/* footer 미디어쿼리 */
@media screen and (max-width:1155px){
    #footer .ft_inner{padding: 32px 16px;flex-direction:column;gap:16px;}
    #footer .logo{font-size: 20px;line-height:24px;}
    #footer .left{flex-direction:column;gap:16px;}
    #footer .copyright{text-align: center;font-size: 12px;line-height:16px;}
    #footer .terms_box > ul{gap: 16px;}
    #footer .terms_box > ul > li > a{font-size: 13px;line-height:16px;}
}
@media screen and (max-width:769px) {
}

/* content */
#contents{min-height: var(--contentHeight);}
#contents > .inner{display: flex;align-items:flex-start;gap:30px;}
#container.sub #contents > .inner{max-width:1240px;}
#contents #main{width: 100%;padding:24px 0 48px;flex: 1;}
.inner_left{padding-left: 310px;min-width:1140px;}
#container.sub .inner_left{min-width:1240px;max-width:1240px;}
.content_top{padding-top: 40px;min-height:150px;display: flex;justify-content: flex-start;align-items: flex-end;}
.content_top.sub{align-items: flex-start;}

.content_top .card_wrap{margin-top: 0;}
.content_top .card_list .card_item{border:none;padding: 0 50px 0 0;}

/* menuTab */
#menuTab{margin-bottom:-1px;}
#menuTab .tab_list{width: 100%;display: flex;justify-content:flex-start;flex-wrap: nowrap;}
#menuTab .tab_list .tab_item{width:120px;padding-bottom: 16px;position: relative;}
#menuTab .tab_list .tab_item:after{content: '';display: block;width: 0;height:2px;position:absolute;left:0;right:0;bottom:0;background-color: var(--purple);transition: width .3s ease;}
#menuTab .tab_list .tab_item.selected:after{width: 100%;}
#menuTab .tab_list .tab_item:hover:after{width: 100%;}
#menuTab .tab_list .tab_item > a{display: block;text-align: center;font-size:14px;font-weight:400;line-height:17px;color: var(--888);transition: color .3s ease;}
#menuTab .tab_list .tab_item:hover > a{color: var(--black);}
#menuTab .tab_list .tab_item.selected > a{font-weight:600;color: var(--black);}

/* lnb */
#lnb{width: 280px;border:1px solid var(--ddd);border-radius:8px;overflow:hidden;background-color:var(--white);transform: translateY(-110px);flex:0 0 auto}
#lnb .lnb_top{height: 109px;padding:20px 20px 0;border-bottom:1px solid var(--ddd);background-size:145px 88px;background-position: right 10px bottom;background-repeat: no-repeat;}
#lnb .lnb_top[menu-cate="learning"]{background-image: url('../img/common/lnb_learning.svg');}

#lnb .lnb_top .top_cont{width: calc(100% - 145px);}
#lnb .lnb_top .cate{font-size:14px;font-weight:400;line-height:17px;color: var(--deep_purple);}
#lnb .lnb_top .tit{margin-top: 7px;font-size: 24px;font-weight: 400;line-height: 29px;color: var(--black);}
#lnb .lnb_menu{padding: 80px 0;display: flex;align-items: center;justify-content: center;}
#lnb .lnb_menu .menu_item + .menu_item{margin-top: 20px;}
#lnb .lnb_menu .menu_item > a{display:block;padding:10px 32px;font-size: 18px;font-weight: 400;line-height: 25px;color: var(--333);text-align:center;border-radius:30px;overflow: hidden;transition: background-color .3s ease, color .3s ease;}
#lnb .lnb_menu .menu_item > a:hover{background-color: var(--deep_blue);color: #fff;}

@media screen and (max-width:1240px) {
    #lnb{width:230px;}
    #lnb .lnb_top{padding: 16px 16px 0;background-size:125px 68px;background-position: right bottom;}
    #lnb .lnb_top .tit{font-size: 20px;line-height:27px;}
    #lnb .lnb_top .top_cont{width: 100%;}
    #container.sub .inner_left{min-width: 100%;}
    #container .content_top .inner_left{min-width: 100%;padding-left:276px;}
}

@media screen and (max-width:1180px) {
    .content_top .card_list .card_item .card_inner{align-items: flex-end;}
    .content_top .card_list .card_item{padding: 0;}
    .content_top .card_list .card_item .info_tit .tit{display: block;}
    .content_top .card_list .card_item .info_tit .tit_name{display: block;}
}

.step_progress{display: flex;align-items: stretch;justify-content: flex-start;width:100%;position: relative;}
.step_progress::after{content: '';display:block;width: 100%;height: 1px;background-color:var(--333);position: absolute;left: 0;bottom: 0;z-index: 5;}
.step_progress .step_item{display:block;width: 160px;padding:15px 0;text-align: center;background-color: var(--white);border:1px solid var(--ddd);position: relative;overflow: hidden;}
.step_progress .step_item + .step_item{margin-left:-1px;}
.step_progress .step_item.active{background-color: #fff;z-index: 6;border-bottom: 0;border-color: var(--333);}
/* .step_progress .step_item::before{content: '';display: block;width: 1px;height: 100%;background-color: var(--ddd);position: absolute;left: 0;top: 0;z-index: 1;} */
.step_progress .step_item::after{content: '';display: block;width: 100%;height: 1px;background-color: var(--ddd);position: absolute;left: 0;bottom: 0;z-index: 1;}
/* .step_progress .step_item:first-child::before{display: none;} */
.step_progress .step_item.active::after{display: none;}

.step_progress .step_item{color: var(--888);}
.step_progress .step_item.active{color: var(--333);}
.step_progress .step_item .step_now > a{display: block;}
.step_progress .step_item .step_now{font-size: 14px;font-weight:600;line-height:17px;}
.step_progress .step_item .step_desc{font-size: 14px;font-weight:400;line-height:17px;}

.tbl_wrap + .tbl_wrap{margin-top:24px;}
.tbl_wrap .tbl_tit{font-size: 24px;font-weight:400;line-height:29px;color: var(--black);}
.tbl_wrap .tbl_tit.row_2{display: flex;align-items: center;justify-content: space-between;}
.ly_tbl .tbl_wrap .tbl_tit{font-size: 16px;font-weight:400;line-height:24px;color: var(--black);}
.tbl_wrap .mt_tbl{margin-top:20px;}
.tbl_wrap .mt_tbl.type2 thead th{vertical-align: middle;border-left: 1px solid var(--white);border-right: 1px solid var(--white);border-top:1px solid var(--white)}
.tbl_wrap .mt_tbl.type2 thead th.first{border-left: 0;}
.tbl_wrap .mt_tbl.type2 thead th.last{border-right: 0;}
.mt_tbl{border-top: 1px solid var(--e5);border-bottom:1px solid var(--e5)}
.mt_tbl .ta_l{text-align: left !important;}

.mt_tbl thead{background-color: var(--d9);}
.mt_tbl.ty_ly thead{background-color: var(--white);}

.mt_tbl thead th{padding: 10px 12px;font-size: 14px;font-weight: 300;line-height:18px;color: var(--333);}
.mt_tbl.ty_ly thead th{padding: 10px 12px;font-size: 14px;font-weight: 300;line-height:18px;color: var(--333);}

.mt_tbl tbody tr.active{background-color: #3973B7;}
.mt_tbl tbody tr.active td{color: var(--white);}
.mt_tbl tbody td{padding: 10px 12px;font-size:14px;font-weight:300;line-height:18px;color:var(--333);text-align: center;border-top:1px solid var(--e5);vertical-align: middle;}
.mt_tbl.ty_ly tbody td{padding: 10px 12px;font-size:14px;font-weight:300;line-height:18px;color:var(--333);text-align: center;border-top:1px solid var(--e5);vertical-align: middle;}

.mt_tbl .graph{width: 100%;border-radius:2px;overflow: hidden;}
.mt_tbl .graph .progress{width: 100%;height:18px;background-color: var(--ddd);position: relative;}
.mt_tbl .graph .progress .bar{position: absolute;left: 0;top: 0;z-index:5;height: 100%;background-color: var(--deep_blue);border-radius:2px;}
.mt_tbl .graph .progress .percent{position: absolute;top:0;right:10px;z-index:6;font-size: 11px;font-weight:300;line-height:18px;color:#fff;}

.mt_tbl .user_name{position: relative;}
.mt_tbl .user_name .icon.card_y{width: 14px;height: 18px;position: absolute;left: -8px;top: 50%;transform: translateY(-50%);background-image: url('../img/icon/card_y.svg');background-repeat: no-repeat;background-size:cover;background-position:center;visibility: hidden;opacity: 0;pointer-events: none;transition: opacity .25s ease;}
.mt_tbl .user_name.active .icon.card_y{visibility: visible;opacity: 1;}
.mt_tbl .user_name .icon.rating{width: 16px;height: 18px;position: absolute;left: -5px;top: 50%;transform: translateY(-50%);background-image: url('../img/icon/icon_rating_chked.svg');background-repeat: no-repeat;background-size:cover;background-position:center;visibility: hidden;opacity: 0;pointer-events: none;transition: opacity .25s ease;}
.mt_tbl .user_name.active .icon.rating{visibility: visible;opacity: 1;}
.mt_tbl .user_name .name_sta{cursor: pointer;position: relative;}
.mt_tbl .user_name .name_sta:after{content: '';display: block;width: 100%;height:1px;background-color:var(--333);position: absolute;left: 0;bottom: -2px;z-index: 3;transition: width .25s ease;}
.mt_tbl .user_name .name_sta:hover:after{width: 100%;}

.mt_tbl .user_name.ty2 .icon.rating{background-image: url('../img/icon/icon_rating_w.svg');}
.mt_tbl .user_name.ty2.active .icon.rating{background-image: url('../img/icon/icon_rating_w.svg');}
.mt_tbl .user_name.ty2 .name_sta:after{display:none;}

.mt_tbl th .sort_col{position: relative;cursor: pointer;}
.mt_tbl th .sort_col::after{content: '';display: inline-block;width: 8px;height: 19px;background-image: url('../img/icon/sort_basic.svg');background-size: cover;background-position: center;background-repeat: no-repeat;cursor: pointer;position: absolute;right: 0;top: 50%;z-index: 10;transform: translateY(-50%);transition: background-image .3s ease;}
.mt_tbl th .sort_col.sort_up::after{background-image: url('../img/icon/sort_up.svg');}
.mt_tbl th .sort_col.sort_down::after{background-image: url('../img/icon/sort_down.svg');}

.mt_tbl th .sort_col2{position: relative;cursor: pointer;}
.mt_tbl th .sort_col2::after{content: '';display: inline-block;width: 8px;height: 19px;background-image: url('../img/icon/sort_basic.svg');background-size: cover;background-position: center;background-repeat: no-repeat;cursor: pointer;position: absolute;right: 0;top: 50%;z-index: 10;transform: translateY(-50%);transition: background-image .3s ease;}
.mt_tbl th .sort_col2.sort_up::after{background-image: url('../img/icon/sort_up.svg');}
.mt_tbl th .sort_col2.sort_down::after{background-image: url('../img/icon/sort_down.svg');}


#main{position: relative;}
#countDown{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width: 100%;height: 100%;backdrop-filter: blur(2px);font-family: 'Poppins';}
#countDown .countDown_inner{display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;}
#countDown .counter{text-align:center;}
#countDown .counter.hide{transform:scale(0);animation:hide .2s ease-out}

#countDown .final{position:fixed;top:50%;left:50%;transform:translate(-50%,-50%) scale(0);font-size: 40px;font-weight: 600;line-height:1;color:var(--333);}
#countDown .final.show{transform:translate(-50%,-50%) scale(1);animation:show .45s ease-in-out;}
#countDown .nums{color:#3973B7;position:relative;font-size:100px;font-weight:500;line-height:100px;overflow:hidden;width:250px;height:100px}
#countDown .nums span{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%) scale(1);transform-origin:center center; opacity: 0;}
#countDown .nums span.in{opacity:1;animation:goIn .45s ease-in-out}
#countDown .nums span.out{animation:goOut .45s ease-in-out}

#countDown .ready{font-size: 40px;font-weight: 600;line-height:1;color:var(--333);}


.input_blank{font-size: 18px;font-weight: 400;line-height: 30px;color: var(--black);}
@keyframes goIn{
    0%{opacity: 0; transform:translate(-50%,-50%) scale(0);}
    30%{opacity: .3;}
    60%{opacity: .6;transform:translate(-50%,-50%) scale(1.2);}
    100%,90%{opacity: 1;transform:translate(-50%,-50%) scale(1);}
}
@keyframes hide{
    0%{transform: scale(1)}
    100%{transform:scale(0)}
}
@keyframes show{
    0%{transform:translate(-50%,-50%) scale(0)}
    80%{transform:translate(-50%,-50%) scale(1.4)}
    100%{transform:translate(-50%,-50%) scale(1)}
}
@keyframes goOut{
    0%,30%{opacity: 1;transform:translate(-50%,-50%) scale(1);}
    60%{opacity: .6;}
    100%{opacity: 0;transform:translate(-50%,-50%) scale(0);}
}